/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/sw.js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
/vendor
/node_modules
/bower_components
Homestead.yaml
Homestead.json
.idea
.DS_Store
/public/css/
/public/js/
/public/build/
/public/vendor/